* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

body {
  background-color: hsl(217, 28%, 15%);
  font-size: 14px;
}

.hero {
  background: url(./images/bg-curvy-mobile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 200%;
}

.nav {
  display: flex;
  margin: 10% 5%;
  justify-content: space-between;
}

.nav-items {
  width: 60%;
  display: flex;
  justify-content: space-around;
  font-size: 1em;
}

.nav-items a {
  text-decoration: none;
  font-weight: lighter;
}

.nav img {
  width: 25%;
}

.header img {
  width: 80%;
  margin: 25px 0px;
}

.header h1 {
  margin: 15px;
  font-weight: 700;
}

.header p {
  margin: 20px 30px;
  color: rgb(223, 223, 223);
}

.header button {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  border: 0;
  font-size: large;
  font-weight: 700;
  padding: 10px 50px;
  border-radius: 25px;
  margin: 15px 0px 50px 0px;
}

.features {
  background-color: hsl(218, 28%, 13%);
}

.feature {
  padding: 10% 20%;
}

.feature h3 {
  padding: 20px 0px;
}

.call-to-action {
  background-color: hsl(218, 28%, 13%);
  padding-top: 70px;
}

.call-to-action img {
  width: 80%;
}

.cta-content {
  margin: 50px 10% 0px 10%;
}

.cta-content h2,
.cta-content p {
  text-align: start;
  margin: 20px 0px;
}

#icon-arrow {
  width: 6%;
  margin-bottom: -4px;
}
.cta-content a {
  text-decoration: none;
  color: hsl(198, 60%, 50%);
  padding-bottom: 3px;
  border-bottom: 2px solid hsl(198, 60%, 50%);
}

.testimonials {
  background-color: hsl(218, 28%, 13%);
  margin-top: -20px;
  padding: 150px 20px 20px 20px;
  text-align: start;
  padding-bottom: 200px;
}

.testimonials img {
  width: 10%;
}

.user {
  width: 90%;
  background-color: hsl(219, 30%, 18%);
  margin: 0px auto 20px auto;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  font-size: 0.7em;
  line-height: 1.6;
}

.user p,
.profile h4,
.user p {
  text-align: start;
}

.user p {
  padding: 10px;
  color: rgb(223, 223, 223);
}

.profile p {
  font-size: 0.8em;
  padding: 0;
  line-height: normal;
}

.profile img {
  width: 13%;
  height: 13%;
  border-radius: 25px;
  margin-right: 10px;
}

.profile {
  padding: 10px;
  text-align: start;
  display: flex;
}

.sign-up {
  border-radius: 10px;
  background-color: hsl(219, 30%, 18%);
  margin: -150px 25% 10px 25%;
  padding: 30px 10px 20px 10px;
  position: relative;
}

.sign-up h2 {
  font-size: 1.2em;
}

.sign-up p {
  color: rgb(223, 223, 223);
  padding: 15px 15px 25px 15px;
  font-size: 0.8em;
}

.email-input input {
  color: #000;
  text-align: start;
  width: 70%;
  border: 0;
  padding: 10px 5px 10px 25px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.email-input button {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  text-align: start;
  width: 70%;
  border: 0;
  padding: 10px 5px 10px 25px;
  border-radius: 20px;
  margin-bottom: 15px;
  font-weight: 700;
}

.page-footer {
  text-align: start;
  padding: 45px 25px;
}

.page-footer img {
  max-width: 55%;
}

.footer-container {
  margin-top: 25px;
}

.footer-container p {
  text-align: start;
  margin-left: 25px;
}

.location {
  display: flex;
}

.phone,
.email {
  margin-top: 25px;
  display: flex;
}

.location img {
  max-width: 7%;
  height: 5%;
  padding-top: 5px;
}

.phone img,
.email img {
  max-width: 5%;
  max-height: 5%;
}

.links {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.links a {
  text-decoration: none;
  text-align: start;
  margin-bottom: 20px;
}

.socials {
  margin-bottom: -25px;
}
.socials img {
  max-width: 15%;
  max-height: 15%;
  padding: 3px;
}

@media only screen and (min-width: 425px) {
  .nav-items {
    font-size: 1.3em;
  }
  #icon-arrow {
    width: 3%;
  }
}
@media only screen and (min-width: 765px) {
  .features {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
  }
  .testimonials {
    display: flex;
    position: relative;
    z-index: 0;
  }
  #quotes {
    position: absolute;
    width: 5%;
    height: 6%;
    top: 125px;
    left: 25px;
  }

  .user {
    margin: 0px 20px;
    padding: 5px 15px;
    z-index: 2;
  }
}

@media only screen and (min-width: 786px) {
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .location {
    width: 30%;
  }

  .page-footer img {
    padding-left: 10px;
  }

  .location img {
    max-width: 12%;
    height: 13%;
    padding-top: 5px;
  }

  .phone img,
  .email img {
    max-width: 15%;
    max-height: 15%;
  }
  .phone,
  .links {
    margin-top: 0px;
  }

  .sign-up {
    padding: 30px 40px 20px 40px;
    margin: -150px 10% 10px 10%;
  }

  .email-input {
    display: flex;
    justify-content: space-between;
  }

  .email-input input {
    width: 65%;
  }

  .email-input button {
    width: 30%;
    margin-bottom: 10px;
  }
  .socials img {
    max-width: 55%;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }
  .user {
    margin: 0px 2%;
    padding: 15px 20px;
  }

  .testimonials {
    justify-content: space-around;
  }

  #quotes {
    width: 3%;
  }

  #icon-arrow {
    width: 5%;
  }

  .call-to-action {
    display: flex;
    padding-left: 5%;
  }

  .header {
    width: 60%;
    margin: auto;
  }

  .hero {
    background-size: 100% 30%;
  }

  .header img {
    width: 50%;
  }

  .nav {
    display: flex;
    margin: 2% 3%;
    justify-content: space-between;
  }

  .nav-items {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .nav-items a {
    margin: 0 5%;
  }

  .nav img {
    width: 8%;
  }

  .sign-up {
    padding: 30px 40px 20px 40px;
    margin: -150px 25% 10px 25%;  
  }
}
